.transactions-list {
  padding: 0;

  section {
    display: grid;
    font-size: .9em;
    grid-template-areas:  "trans-date trans-amt"
                          "heading-balance trans-balance"
                          "heading-desc trans-desc";
    grid-template-rows: 1.5em 1.5em 1fr;
    grid-template-columns: 5.2em auto;
    padding: 1em;

    .trans-date {
      grid-area: trans-date;
    }
    
    .trans-amt {
      grid-area: trans-amt;
      text-align: right;
    }

    [data-negative] {
      color: red;
    }

    [data-positive] {
      color: green;
    }

    .trans-balance {
      grid-area: trans-balance;
    }

    .heading-balance {
      font-size: .8em;
      font-weight: bold;
      grid-area: heading-balance;
    }

    .trans-desc {
      grid-area: trans-desc;
    }

    .heading-desc {
      font-size: .8em;
      font-weight: bold;
      grid-area: heading-desc;
    }

  }

  section:nth-of-type(even) {
    background: #DCDCDC;
  }
}
