@import '../../base';

.em-box {
  background: #f2f3f4;
  border: 1px solid #DCDCDC;
  border-radius: 6px;
  padding: 1.5em 1em;
  width: 65%;

  .item-group {
    margin-bottom: 19px;
    width: 80%;

    label {
      color: #202020;
      display: block;
      font-size: .8em;
      font-weight: bold;
      margin-bottom: 6px;
    }

    input {
      background: #F8F8F8;
      border: 1px solid #DCDCDC;
      border-radius: 6px;
      outline: none;
      padding: 7px;
      width: 100%;
    }

    input:focus {
      border-color: $h1-color;
    }
  }
}

.forgot-password {
  /* font-size: .9em; */
  margin-top: -10px;
  text-align: left;
}

.login-button {
  background: #F7BE56;
  border-color: #F6AE2D;
  border-radius: 6px;
  padding: 7px 20px;
  font-size: .8em;
}

.login-button:hover {
  background: #F6AE2D;
  border-color: #DD9C28;
}

.remember-me {
  margin-top: -10px;
  width: max-content;
  text-align: right;

  input {   
    float: right;
    width: 10px !important;
  }

  label {    
    display: block;
    margin-left: 15px;
  }
}


 .new-user {
  label {
    display: inline-block !important;
  }

  span {
    font-size: .8em;
    margin-left: 15px;
  }
}