@import '../../_base.scss';

header {
  background: $header-bg-color;
  border-bottom: 4px solid $sub-color;
  color: #FAEBD7;
  font-family: 'Fjalla One';
  height: 116px;
  letter-spacing: .1em;
  position: fixed;
  top: 0;
  width: 100%;
}

#logo-block {
  background: url('/favicon.png') no-repeat;
  cursor: pointer;
  font-size: 1.5em;
  height: 3em;
  margin: 1.4em 0;
  padding: .7em 0 0 3em;
  width: fit-content;
}
