@import '../../_base.scss';

header {
  background: $header-bg-color;
  border-bottom: 4px solid $sub-color;
  color: #FAEBD7;
  height: 116px;
  letter-spacing: .1em;
  position: fixed;
  top: 0;
  width: 100%;
}

#logo-block {
  background: url('/favicon.png') no-repeat;
  font-family: 'Fjalla One';
  font-size: 1.5em;
  height: 3em;
  margin-top: 1.4em;
  padding: .7em 0 0 3em;
  width: fit-content;
}

#logo-block:hover {
  font-weight: bold;
}

#header-menu {
  float: right;
  margin-right: 1.4em;
  padding-top: .7em;
  width: fit-content;

  .logout-link {
    font-size: .7em;
  }
}

