.agree-terms {
    // margin-top: -10px;
    width: max-content;
    text-align: left;
  
    input {   
      float: left;
      width: 10px !important;
    }
  
    label {    
      display: block;
      margin-left: 15px;
    }
  }
