$primary-fonts: 'Raleway', Helvetica, sans-serif;
$emphsis-fonts: 'Fjalla One', cursive;

$main-bg-color: #33658A;
$header-bg-color: #2F4858;
$sub-color: #86BBD8;
$off-white: #F5F5F5;
$footer-bg-color: #2F4858;
$h1-color: #F6AE2D;

$phone-width: 384px;
$tablet-width: 768px;
$desktop-width: 1024px;

body {
    font-family: $primary-fonts;
    font-weight: normal;
}

h1 {
    border-bottom: 2px solid $h1-color;
    color: $header-bg-color;
    display: inline-block;
    font-family: $emphsis-fonts;
    margin: 0;
    padding: 0 12px 0 3px;
}

h2 {
    border-bottom: 2px solid $h1-color;
    color: $header-bg-color;
    display: inline-block;
    font-family: $emphsis-fonts;
    font-size: 1.2em;
    margin: 0;
    padding: 0 12px 0 3px;
}

h4 {
    font-size: .9em;
    font-weight: normal;
    margin: 0;
    padding: 6px 8px;

    span {
      font-weight: bold;
    }
}
