@import '~antd/dist/antd.css';

body {
  background: #82A0BC;

}

#root {
  max-width: 750px;
  margin: 0 auto;
}

.container {
  background: white;
  border-radius: 0 0 4px 4px;
  margin: 0 1.3em 1.2em 1.3em;
  padding: .9em;
  text-align: center;
}
