@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Raleway&display=swap');

body {
  background: #82A0BC;
  font-family: 'Raleway'/*,*/ ;
}

#root {
}

.container {
  margin: 120px auto 0 auto;
  max-width: 750px;
  text-align: center;
}

#main-body {
  border-bottom: 4px solid #A7CCED;
  background: #fff;
  height: 1024px;
  padding: 1.4em;
  text-align: center;
  width: 100%;
}

.logo {
  color: #63ADF2;
  font-size: 1.3em;
}
