@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Raleway&display=swap');

html, body {
  height: 100%;
  margin: 0;
}

#app {
  height: 100%;
}

body {
  font-family: 'Raleway'/*,*/ ;
}

#root {
  background: #82A0BC;
  height: 100%;
}

.container {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin: 120px auto 0 auto;
  max-width: 900px;
}

#main-body {
  border-bottom: 4px solid #A7CCED;
  background: #FFF;
  // height: 1024px;
  padding: 3em 2.5em;
  text-align: left;
}

#main-body h1 {
  color: #304D6D;
  margin: 0 0 1.5em 0;
}

.logo {
  color: #63ADF2;
  font-size: 1.3em;
}
