@import '../../base';

footer {
  background: $footer-bg-color;
  border-top: 4px solid $sub-color;
  color: $off-white;
  height: 100px;
  text-align: left;
  padding: 1.4em;
}

.copyright {
  font-size: .7em;
  margin: 25px 0 0 0;
}
